body {
    flex-direction: column;
    height: 100vh;
    width: 100%;
    font-family: monospace;
    color: white;
    background-color: #e5fbe5;
    font-size: 10px;
    line-height: 15px;
    overflow: hidden;
    display: flex;

}

#top {
    width: 100%;
    height: 100%;
    margin-bottom: 15px; 
    margin-top: 15px; 
    display: flex;
    flex-direction: column;
}

.video-container {
    position: relative;
    width: 100%; /* or whatever width you prefer */
    height: 40%; 
    flex-direction: row;  /* Aligns children horizontally */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px; 
}

.canvas-container {
    position: absolute;
    top:0;
    right: 50px;
    display: flex;
    flex: 1;  /* Takes less space, adjust the ratio as needed */
    flex-direction: column;  /* Stack canvas-wrapper elements vertically */
}

.fps-display {
    position: absolute;
    right: 150px;
    bottom: 0;
    width: 150px; 
    color: white;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 1;
}

.video-inner-container{
    position: relative;
    height: 100%; 
    flex: 2;  /* Takes up more space, adjust the ratio as needed */

}
.video,
.canvas, 
.blackCanvas {
    position: absolute;
    top: 0;
    right: 150px; /* Ensures they start from the left edge */
    height: 100%;
    object-fit: contain; /* Only necessary for .video */
}


.grid-row {
    display: flex;
    align-items:center;
    width: 100%;
    justify-content: space-between; /* or any other layout style you prefer */
}


.canvas-wrapper {
   position: relative;  
}

.dmxGridWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
}

.dmxGrid {
    position: relative; 
    display: grid;
    grid-template-columns: repeat(10, 5px); 
    grid-gap: 1px;
    width: max-content;
    margin: 4px;
}

.dmxCell {
    width: 5px; /* Adjust the size as needed */
    height: 5px; /* Adjust the size as needed */
    background-color: #000; /* Default color */
}

@media screen and (min-width: 768px) {
    .text-overlay {
        font-size: 12px; /* Set a specific font size for screens larger than 768px */
    }
}

.play-pause-button {
    position: absolute;
    height: 17px;
    top: 0;
    right: 150px;
    background-color: rgba(255, 255, 255, 0.3); /* Transparent background */
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scaleX(-1); 
}



.group-header {
    padding: 0;
    background-color: #666;
    color: white;
    user-select: none;
    margin-bottom: 5px; 
    cursor: pointer;

}

.group-content {
    padding: 0;
    display: none; /* Hide content initially */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}
.toggle-button {
    float: right;

    padding-right: 5px;
    user-select: none; /* Prevent text selection */
}

#zoom-slider-container {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    width:10px; 
}


#zoom-slider {
    flex: 1;
}

label[for="zoom-slider"] {
    width: 80px; /* Set a specific width for the label */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    margin-right: 10px;
}

.panel-button {
    top: 0;
    left: 0; /* Move to the left side */
    background-color: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
    display: block; /* Make the buttons initially visible */
    z-index: 3;
    color: #333;
}

.close-button {
    font-size: 20px;
    top: 0;
    left: 0;
    cursor: pointer;
    color: #333;
    display: block; /* Make the buttons initially visible */
}

.side-panel {
    position: fixed;
    top: 0;
    left: 0px; /* Initially hidden on the left side */
    width: 220px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
    overflow-y: auto;
    color: black;
    scrollbar-width: thin;  /* For Firefox */
    scrollbar-gutter: stable;
}
#sidePanel label {
    display: block; /* Make labels stack vertically */
    margin-bottom: 5px; /* Add some spacing between elements */
}
.side-panel.open {
    left: 0; /* Display side panel when open class is applied */
}

/* Add this CSS to your styles.css file */
.radio-container {
    margin: 10px 0;
}

.radio-label {
    font-weight: bold;
}

.radio-options {
    display: flex;
    gap: 10px;
    align-items: center;
}

.radio-options input[type="radio"] {
    margin-right: 5px;
}

/* Style the selected radio button */
.radio-options input[type="radio"]:checked + label {
    color: #007BFF; /* Change the color to your preference */
}

/* Add hover effect to radio labels */
.radio-options label:hover {
    cursor: pointer;
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 10px;
}
li {
    padding: 2px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    margin-bottom: 2px;
    cursor: grab;
}

select{
    font-family: monospace;
    font-size : 10px;
    width: 50px; 
}

.slider-container {
    display: flex;
    flex-direction: row;
    align-items: center;  /* Center children vertically within the container */
    width: 100%;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px; 
}

.slider-track {
    position: relative;
    flex: 1 0 50%;   /* Grow to fill available space, but start at 50% of the container's width */
    height: 100%;
    background-color: #d0d0d0; /* Background of the slider */
    cursor: pointer;
}

.slider-fill {
    position: absolute;
    height: 100%;
    background-color: #007BFF; /* Fill color */
    width: 0%; /* Initial fill area */
}
.slider-range {
    position: absolute;
    height: 100%;
    background-color: #007bff;
}
.slider-label {
    position: absolute;
    left: 0; /* Align text to the left */
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5px; /* Space from the left edge */
    pointer-events: none; /* Allows clicks to pass through the label */
    right: 0;
    text-align: center; /* Center the text within the slider */
    white-space: nowrap; /* Prevent the text from wrapping onto the next line */
    overflow: hidden; /* Hide any text that overflows the element's bounds */
    text-overflow: ellipsis; /* Show ellipsis if the text overflows */
    color: white; /* Label text color */
    z-index: 3; /* Ensure label is above the fill */
}

.number-input {
    width: 20%;  /* Allocate width for the number input */
    min-width: 40px;  /* Ensure it has a practical clickable area */
    margin-left: 5px; 
    font-size: 10px; /* Smaller text size */

}