body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    font-family: monospace;
    color: white;
    font-size: 10px;
    line-height: 15px;
    margin:0;
    overflow: hidden;
}

#top {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /*top: 0;*/
}

.video-container {
    position: relative;
    width: 100%; /* or whatever width you prefer */
    height: 0;
    padding-top: 40%; 
    display: flex; /* Set the container to use Flexbox */
    flex-direction: row; /* Align children in a row */
    /* align-items: center;  */
    justify-content: flex-end;  
    /*height: 100%;*/
    /* overflow: hidden; */
}

.canvas-container {
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    flex-direction: row;
    /* margin-left: auto;  */
    /* flex: 1 */
}

.fps-display {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 2;
}

.video,
.canvas, 
.blackCanvas {
    position: absolute;
    width: 50%;
    height: auto; 
    top: 0;
    /* right: 0; */
    
    flex: 1;
    object-fit: contain; /* Ensures the video's aspect ratio is maintained */
}


#top-image-container {
    position: relative;
    width: 66.66%;
    height: 100%;
    /*background-color: red;*/
    align-items: flex-start;
    display: flex;
    margin: 0; /* Reset margin to ensure no default margin */
    padding: 0; /* Reset padding to ensure no default padding */
    overflow: hidden;

}

.grid-row {
    display: flex;
    align-items:center;
    width: 100%;
    justify-content: space-between; /* or any other layout style you prefer */
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 1000; /* Ensure it's on top of other elements */
}


.grid-image {
    display: block; /* Make the image a block-level element */
    height: 100%;
    width: 100%;
    object-fit: cover;
    /*transition: opacity 2s ease-in-out; !* Opacity transition *!*/

}

.image-item-container {
    position: relative;
    height: 100%;
    overflow: hidden;
    width: 100%;
    padding:0;
    /*object-fit: cover;*/

    margin: 0; /* Reset margin to ensure consistent spacing */
}

.image-item-container img{
    height: 100%;
    overflow: hidden;
    width: 100%;

}


.text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    /*width: 100%;*/
    z-index: 1; /* Ensure it's above the image */
    box-sizing: border-box;
    padding-left: 3px; /* Adjust the padding as needed */
    padding-right : 3px;
    line-height: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
    .text-overlay {
        font-size: 12px; /* Set a specific font size for screens larger than 768px */
    }
}

.placeholder {
    height: 100%;
    width: 50%;
    background-color: red; /* Set the background color to red for the placeholders */
}

.play-pause-button {
    position: absolute;
    bottom: 20px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.3); /* Transparent background */
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scaleX(-1); /* Flip horizontally */
}

#zoom-slider-container {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    width:10px; /* Adjust the width as needed */
}

#zoom-slider {
    flex: 1;
}

label[for="zoom-slider"] {
    width: 80px; /* Set a specific width for the label */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    margin-right: 10px;
}

.top-image {
    /*transition: opacity 2s ease-in-out; !* Opacity transition *!*/
}

.panel-button {
    position: absolute;
    top: 0;
    left: 0; /* Move to the left side */
    background-color: transparent;
    border: none;
    font-size: 14px;
    cursor: pointer;
    display: block; /* Make the buttons initially visible */
    z-index: 3;
    color: #333;
}

.close-button {
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    color: #333;
    display: block; /* Make the buttons initially visible */
}
.checkbox-label {
    margin-top: 30px; /* Add margin to the top of this specific label */
}
/* Side panel styles */
.side-panel {
    position: fixed;
    top: 0;
    left: -150px; /* Initially hidden on the left side */
    width: 150px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease-in-out; /* Change from right to left */
    z-index: 2;
    overflow-y: auto;
    color: black;
}
#sidePanel label {
    display: block; /* Make labels stack vertically */
    margin-bottom: 5px; /* Add some spacing between elements */
}
.side-panel.open {
    left: 0; /* Display side panel when open class is applied */
}

/* Add this CSS to your styles.css file */
.radio-container {
    margin: 10px 0;
}

.radio-label {
    font-weight: bold;
}

.radio-options {
    display: flex;
    gap: 10px;
    align-items: center;
}

.radio-options input[type="radio"] {
    margin-right: 5px;
}

/* Style the selected radio button */
.radio-options input[type="radio"]:checked + label {
    color: #007BFF; /* Change the color to your preference */
}

/* Add hover effect to radio labels */
.radio-options label:hover {
    cursor: pointer;
    text-decoration: underline;
}

.canvas-wrapper {
    width: 100px;
    height: 100px;
    top: 0;
    right: 0;
    position: relative; /* Important for maintaining aspect ratio */
}
.cropped-canvas,.gray-canvas,.pixel-canvas {
    position: relative; 
    width: 100%;
    height: auto;
}

#grayscaleSlider, #grayscaleMapSlider, #contrastEnhSlider, #grayscaleExpoSlider, #brightnessRangeSlider {
    width: 80%; /* Adjust the width as needed */
    margin: 10px auto; /* Center the slider */
    height: 10px; /* Adjust the height as needed */
    content: ''; /* Remove any content */
}

/* Style the slider handles (thumbs) */
#grayscaleSlider .noUi-handle,
#grayscaleMapSlider .noUi-handle,
#contrastEnhSlider .noUi-handle,
#grayscaleExpoSlider .noUi-handle,
#brightnessRangeSlider .noUi-handle {
    width: 16px; /* Adjust the width of the thumbs */
    height: 16px; /* Adjust the height of the thumbs */
    border-radius: 50%; /* Make the thumbs circular */
    /*background-color: #007BFF; !* Change the thumb color as needed *!*/
    content: ''; /* Remove any content */
    transform: translateX(-30%);
}

/* Style the slider connect bar */
#grayscaleSlider .noUi-connect,
#grayscaleMapSlider .noUi-connect,
#contrastEnhSlider .noUi-connect,
#grayscaleExpoSlider .noUi-connect,
#brightnessRangeSlider .noUi-connect {
    height: 10px; /* Adjust the height of the connect bar */
    background-color: #007BFF; /* Change the bar color as needed */
}

/* Adjust the appearance of the slider thumbs if needed */
#grayscaleSlider .noUi-handle:before,
#grayscaleSlider .noUi-handle:after,
#grayscaleMapSlider .noUi-handle:before,
#grayscaleMapSlider .noUi-handle:after,
#contrastEnhSlider .noUi-handle:before,
#contrastEnhSlider .noUi-handle:after,
#grayscaleExpoSlider .noUi-handle:before,
#grayscaleExpoSlider .noUi-handle:after,
#brightnessRangeSlider .noUi-handle:before,
#brightnessRangeSlider .noUi-handle:after {
    content: ''; /* Remove any content */
    border: none; /* Remove any borders */
    background-color: transparent; /* Set background color to transparent */
}

#exposureModeWrapper{
    display: none;
}
#exposureCompWrapper{
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 10px;
}
li {
    padding: 2px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    margin-bottom: 2px;
    cursor: grab;
}

select{
    font-family: monospace;
    font-size : 10px;
    margin-bottom: 10px;
}

.dmxGrid {
    display: grid;
    grid-template-columns: repeat(10, 5px); /* Adjust the size as needed */
    grid-gap: 1px;
    width: max-content;
    margin: 4px;
    top : 0 
}

.dmxCell {
    width: 5px; /* Adjust the size as needed */
    height: 5px; /* Adjust the size as needed */
    background-color: #000; /* Default color */
}